<!DOCTYPE html>
<html>
<head>
	<title> Common Block </title>
            <header><b> Common Block </b></header>
            <style>
                header {
                    color:blue;
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                    font-size:40px;
                    text-align: center;
                    background-color: purple;
                    border-radius: 20px;
                    padding:20px;
                }
            </style>
</head>
<body>
	<div class="container">
		<h1>Login</h1>
		<form action="login.php" method="POST">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required>
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>
