{% extends 'base.html' %}

{% block title %}Edit Account{% endblock %}

{% block content %}
  <h2>Edit Account</h2>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <label for="{{ form.first_name.id }}">{{ form.first_name.label.text }}</label>
    {{ form.first_name }}
    <label for="{{ form.last_name.id }}">{{ form.last_name.label.text }}</label>
    {{ form.last_name }}
    <label for="{{ form.age.id }}">{{ form.age.label.text }}</label>
    {{ form.age }}
    <br><br>
    {{ form.submit }}
  </form>
{% endblock %}
