{% extends 'base.html' %}

{% block title %}Join Group{% endblock %}

{% block content %}
    <h2> JOIN GROUP </h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.chatuser.label }}
        {{ form.chatuser(class="form-control") }}
      </div>
      <br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    {% for line in messages %}
      <p color="white"> {{line.user}}: {{line.text_message}} </p>
    {% endfor %}

    <div> 
      <form action="{{ url_for('join_group') }}" method="POST">
        <div class="form-group">
          {{ form.chatext.label }}
          {{ form.chatext(class="form-control") }}
        </div>
        <!-- <label for="chatext"></label>
        <textarea name = "chatext" id="chatext" rows="5" cols="160"> </textarea> -->
        <button type="submit" class="btn btn-primary"> Post </button>
      </form>
    </div>



    <!-- <div> 
      <form action="{{ url_for('join_group') }}" method="POST">
        <label for="chatuser"> Choose User: </label>
        <select id="chatuser" name="chatuser">
          {% for line in list %}
          <option value={{line.username}}> {{line.username}} </option>
          {% endfor %}
        <input type="submit" value = "Select" />
      </form>
    </div>
    <div> 
      <form action="{{ url_for('join_group') }}" method="POST">
        <label for="chatext"></label>
        <textarea name = "chatext" id="chatext" rows="5" cols="160"> Text... </textarea>
        <input type="submit" value = "POST" />
      </form>
    </div>
    {% for line in id %}
     <p>{{id.chatroom_id}}</p>
    {% endfor %}
  <style>

  </style> -->
  <br><br>
{% endblock %}
