{% extends "base.html" %}

{% block title %}Store{% endblock %}

{% block content %}
  <head>
  <style>
  table, th, td {
    border: 1px solid rgb(255, 255, 255);
  }
  </style>
  </head>
  <h2>Second Hand Furniture Store</h2>
  <table style="width:100%">
    <tr>
      <th>Description</th>
      <th>Condition</th>
      <th>Price ($)</th>
      <th>Date Posted</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    {% for item in furniture %}
      <tr>
          <td>{{ item.description }}</td>
          <td>{{ item.condition }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.date_posted }}</td>
          <td>{{ item.seller.username }}</td>
          <td>{{ item.seller.email }}</td>
        </tr>
      {% endfor %}
  </table>
  
{% endblock %}
